

<div class="row">
  <div class="span12">
    Rendered the home view!
  </div>
  <div>
    <input type="filepicker" data-fp-apikey="Aqfg6Ps3PQhCXxD4a4SBuz" data-fp-mimetypes="image/*" data-fp-container="modal" />
  </div>

</div>

